body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}

/* button */
button {
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}

/* Head Section */
.header,
.hero {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 0 10%;
}

.header-logo {
  padding-top: 10px;
  display: flex;
  color: #f9faf8;
  font-weight: 800;
  font-size: 24px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

/* nav-bar link */
a:link,
a:visited {
  color: #e5e7eb;
  font-size: 14px;
  text-decoration: none;
}

a:hover,
a:active {
  padding: 2px;
  background-color: #3882f6;
  border-radius: 15px;
}

/*Hero Section*/

.hero {
  display: flex;
  padding: 5% 12%;
  justify-content: space-between;
  gap: 60px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero-second {
  font-size: 18px;
  color: #e5e7ebd2;
  max-width: 520px;
  padding-top: 0;
  padding-left: 2px;
  margin-top: 0;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
}

.hero-button:hover {
  color: #3882f6;
  background-color: #f9faf8;
}

.head-img {
  width: ;
  height: ;
  border: 1px solid #141a23;
  border-radius: 8px;
}

/*2nd container*/

.second-container {
  padding: 0 22%;
  padding-bottom: 5%;
}

.random-info {
  padding: 1% 0;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.box-img {
  width: 120px;
  height: 120px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.box-text {
  text-align: center;
  display: flex;
  max-width: 120px;
  max-height: 120px;
}

.four-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* 3rd section */
.third-section {
  background-color: #e5e7eb;
  padding: 0 20%;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 0;
  margin: 0;
  font-style: italic;
  color: #1f2937;
}

.quote-shoutout {
  padding-right: 7%;
  padding-top: 0;
  margin: 0;
  padding-bottom: 10%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

/* 4th section */

.fourth-container {
  margin: 5% 25%;
  padding: 3% 5%;

  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.call-signup {
  font-size: 25px;
  font-weight: 700;
  color: #f9faf8;
}

.call-text {
  max-width: 70%;
  font-size: 18 px;
  color: #f9faf8db;
}

.call-button {
  border: 2px solid #f9faf8;
  margin-top: auto;
  margin-bottom: auto;
}

.call-button:hover {
  color: #3882f6;
  background-color: #f9faf8;
}

/* footer */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 2%;
  text-align: center;
}
